<div class="customer-car-container">
  <div class="favoris-header-spacer"></div>

  <div class="favoris-button-bar">
    <button nzSize="large" nz-button nzType="primary" routerLink="/customer/cars/favoris">
      Véhicule Favoris
    </button>
  </div>

  <div class="car-card" *ngFor="let car of cars">
    <div nz-row class="car-row">
      <div nz-col nzSpan="8">
        <img class="car-image" [src]="car.processedImage" alt="Voiture" />
      </div>

      <div nz-col nzSpan="16" class="car-details">
        <h2 class="car-title">{{ car.brand }} - {{ car.name }}</h2>

        <p class="car-description">{{ car.description }}</p>
        <hr />

        <div class="car-info">
          <h5>
            Prix par jour: <b>{{ car.price }} €</b> - Couleur : <b>{{ car.color }}</b> - Transmission :
            <b>{{ car.transmission }}</b> - Type : <b>{{ car.type }}</b> - Année : <b>{{ car.year }}</b>
          </h5>
        </div>

        <div class="car-actions-bar">
          <div class="left-actions">
            <button nzSize="small" nz-button nzType="default" (click)="toggleFavoris(car)">
              <i class="anticon" [ngClass]="car.isFavoris ? 'anticon-heart' : 'anticon-heart-o'"></i>
              {{ car.isFavoris ? 'Retirer des Favoris' : 'Ajouter aux Favoris' }}
            </button>
          </div>

          <div class="right-actions">
            <button nzSize="small" nz-button nzType="primary" [routerLink]="'/customer/book/' + car.id">
              Réserver
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
