<div class="table-operations">
  <button nz-button (click)="sortByAge()">Sort age</button>
  <button nz-button (click)="resetFilters()">Clear filters</button>
  <button nz-button (click)="resetSortAndFilters()">Clear filters and sorters</button>
</div>
<nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
  <tr>
    @for (column of listOfColumns; track column.name) {
      <th
        [(nzSortOrder)]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name }}
      </th>
    }
  </tr>
  </thead>
  <tbody>
    @for (data of filterTable.data; track data) {
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.email }}</td>
        <td>{{data.createdAt | date: 'dd-MM-yyyy'}}</td>
        <td>
          <button nz-button nzType="primary" (click)="open(data)">View Profile</button>
        </td>
      </tr>
    }
  </tbody>
</nz-table>



<nz-drawer [nzVisible]="visible" [nzWidth]="640" [nzClosable]="false" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <p class="title">User Profile</p>
    <div class="view-profile">

      <div class="field">
        <strong>Nom :</strong>
        <span>{{ profile?.lastname }}</span>
      </div>

      <div class="field">
        <strong>Prénom :</strong>
        <span>{{ profile?.firstname }}</span>
      </div>

      <div class="field">
        <strong>Téléphone :</strong>
        <span>{{ profile?.number }}</span>
      </div>

      <div class="field">
        <strong>Numéro de permis :</strong>
        <span>{{ profile?.licenseNumber }}</span>
      </div>

      <div class="field" *ngIf="driverLicenseImageUrl">
        <strong>Permis de conduire :</strong><br />
        <img [src]="driverLicenseImageUrl" alt="Permis de conduire" width="200" />
      </div>
    </div>
  </ng-container>
</nz-drawer>

