<div class="dashboard">
  <h1>Tableau de Bord Client</h1>

  <div class="cards">
    <div class="card">
      <h2>Reservations effectuées</h2>
      <p>{{ stats.reservations_effectuees }}</p>
    </div>

    <div class="card">
      <h2>Demandes de reservation en attente</h2>
      <p>{{ stats.reservations_en_cours }}</p>
    </div>

    <div class="card">
      <h2>Reservations annulées</h2>
      <p>{{ stats.reservations_annulees }}</p>
    </div>

    <div class="card">
      <h2>Voitures disponibles</h2>
      <p>test</p>
    </div>
  </div>
</div>
