<ng-container>
  <p class="title">User Profile</p><div class="profile-container">
  <h2>Mon Profil</h2>
  <div class="profile-container">
    @if (profile.isVerified){
      <p class="verified">Votre adresse email est vérifiée</p>
    } @else {
      <p class="not-verified">Votre adresse email n'est pas vérifiée</p>
      <button nz-button nzType="primary" (click)="VerifyMail()">Vérifier mon email</button>
    }
    <form [formGroup]="profileForm">
      <div>
        <label>Nom:</label>
        <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="Champ requis">
          <input type="text" formControlName="lastname" />
        </nz-form-control>
      </div>

      <div>
        <label>Prénom:</label>
        <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="Champ requis">
          <input type="text" formControlName="firstname" />
        </nz-form-control>
      </div>

      <div>
        <label>Téléphone:</label>
        <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="Champ requis">
          <input type="text" formControlName="number" />
        </nz-form-control>
      </div>

      <!-- adresse -->
      <div>
        <label>Adresse:</label>
        <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="Champ requis">
          <input type="text" formControlName="address" />
        </nz-form-control>
      </div>

      <div>
        <label>Numéro de permis:</label>
        <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="Champ requis">
          <input type="text" formControlName="licenseNumber" />
        </nz-form-control>
      </div>

      <div>
        <label>Image du permis de conduire:</label>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" />
      </div>

      <img *ngIf="licenseImage" [src]="licenseImage" alt="Permis de conduire" width="200" />


      <button type="submit" nzSize="large" nz-button nzType="primary" (click)="onSubmit()">Mettre à jour</button>
    </form>
  </div>

</div>

</ng-container>
