<ng-container>
  <p class="title">User Profile</p><div class="profile-container">
  <h2>Mon Profil</h2>
  <div class="profile-container">
    <h2>Mon Profil</h2>
    <form [formGroup]="profileForm">
      <div>
        <label>Nom:</label>
        <input type="text" formControlName="lastname" />
      </div>

      <div>
        <label>Prénom:</label>
        <input type="text" formControlName="firstname" />
      </div>

      <div>
        <label>Téléphone:</label>
        <input type="tel" formControlName="number" />
      </div>

      <div>
        <label>Numéro de permis:</label>
        <input type="text" formControlName="licenseNumber" />
      </div>

      <div>
        <label>Image du permis de conduire:</label>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" />
      </div>

      <img *ngIf="driverLicenseImageUrl" [src]="driverLicenseImageUrl" alt="Permis de conduire" width="200" />


      <button type="submit" nzSize="large" nz-button nzType="primary" (click)="onSubmit()">Mettre à jour</button>
    </form>
  </div>

</div>

</ng-container>
