<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <img [src]="logoPath2"  alt="AutoDrive Logo"  />
      <h1>Car Rental</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <!--<li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>-->

      <!-- Admin Menu Items -->
      <li *ngIf="isAdminLoggedIn" nz-menu-item nzMatchRouter>
        <a  routerLink="/admin/dashboard" routerLinkActive="active"  > Tableau de bord </a>
      </li>
      <li *ngIf="isAdminLoggedIn" nz-menu-item nzMatchRouter>
        <a  routerLink="/admin/car" routerLinkActive="active"  > Gestion des voitures </a>
      </li>
      <li *ngIf="isAdminLoggedIn" nz-menu-item nzMatchRouter>
        <a  routerLink="/admin/users" routerLinkActive="active"  > Gestion des Utilisateurs </a>
      </li>
      <li *ngIf="isAdminLoggedIn" nz-menu-item nzMatchRouter>
        <a  routerLink="/admin/bookings" routerLinkActive="active"  > Demandes des Reservations </a>
      </li>
      <li *ngIf="isAdminLoggedIn" nz-menu-item nzMatchRouter>
        <a  routerLink="/admin/reclamations" routerLinkActive="active"  > Réclamations </a>
      </li>


      <!-- Customer Menu Items -->
      <li *ngIf="isCustomerLoggedIn" nz-menu-item nzMatchRouter>
        <a  routerLink="/customer/dashboard" routerLinkActive="active"  > Tableau de bord </a>
      </li>
      <li *ngIf="isCustomerLoggedIn" nz-menu-item nzMatchRouter>
        <a  routerLink="/customer/cars" routerLinkActive="active"  > Liste des Voitures </a>
      </li>
      <li *ngIf="isCustomerLoggedIn" nz-menu-item nzMatchRouter>
        <a  routerLink="/customer/my-bookings" routerLinkActive="active"  > Mes Reservations </a>
      </li>
      <li *ngIf="isCustomerLoggedIn" nz-menu-item nzMatchRouter>
        <a  routerLink="/customer/profile" routerLinkActive="active"  > Mon Profile </a>
      </li>

      <li *ngIf="isAdminLoggedIn || isCustomerLoggedIn" nz-menu-item nzMatchRouter>
        <a routerLink="#" routerLinkActive="active" (click)="logout()" > Se déconnecter </a>
      </li>
    </ul>
    <!--<div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
      <div class="custom-navbar">
        <div class="navbar-title">
          <a routerLink="/login">Car Rental Service</a>
        </div>

        <div class="nav-links">
          <a routerLink="/register"> S'inscrire </a>

          <a routerLink="/login"> Se connecter </a>
        </div>
      </div>
    </div>-->
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
