<div class="login-container">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <div class="login-title">
      <h2>Inscription</h2>
    </div>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="email" placeholder="Email" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Mot de passe" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirmation du mot de passe" />
          </nz-input-group>
      </nz-form-control>
  </nz-form-item>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" >
      S'inscrire
    </button>
    <p class="login-form-text">
      Déjà inscrit? <a routerLink="/login">Connectez-vous maintenant!</a>
    </p>
  </form>
</div>
