<nz-spin [nzSpinning]="isSpinning">
  <nz-table #sortTable [nzData]="bookings" nzTableLayout="fixed">
    <thead>
    </thead>
    <tbody>
      @for (data of sortTable.data; track data) {
        <div style="margin-top: 10px;" class="child">
          <div nz-row style="background-color: #ccc; padding: 24px;">
            <div nz-col nzSpan="20">
              <h2 style="cursor: pointer; color: #108ee9;">Status: <b>{{data.bookCarStatus}}</b></h2>
              <h5>Reservé par:
              <b>{{data.user!.firstname}} {{data.user!.lastname}}</b>
                <button style="margin-left: 10px;" nz-button nzType="primary" (click)="openUser(data.user)">
                 Voir le profile
                </button>
              </h5>
              <h5>Vehicule: <b>{{data.car!.name}}</b> - Car Model: <b>{{data.car!.brand}}</b></h5>
              <h5>De: <b>{{data.fromDate | date: 'dd-MM-yyyy'}}</b> - Au: <b>{{data.toDate | date: 'dd-MM-yyyy'}}</b> - No of Days: <b>{{data.days}}</b></h5>
              <h5></h5>
              <h5>Prix Totale: <b>{{data.price}} €</b></h5>
            </div>
            <div *ngIf="data.bookCarStatus == 'PENDING'">
              <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                      (click)="changeBookingStatus(data.id, 'Approve')">
                Accepter
              </button>

              <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" nzDanger
                      (click)="changeBookingStatus(data.id, 'Reject')">
                Rejecter
              </button>
            </div>
          </div>
        </div>
      }
    </tbody>
  </nz-table>

</nz-spin>


<nz-drawer [nzVisible]="visible" [nzWidth]="640" [nzClosable]="false" (nzOnClose)="closeUser()">
  <ng-container *nzDrawerContent>
    <p class="title">User Profile</p>
    <div class="view-profile" *ngIf="profile">

      <div class="field">
        <strong>Nom :</strong>
        <span>{{ profile!.lastname }}</span>
      </div>

      <div class="field">
        <strong>Prénom :</strong>
        <span>{{ profile!.firstname }}</span>
      </div>

      <div class="field">
        <strong>Téléphone :</strong>
        <span>{{ profile!.number }}</span>
      </div>

      <div class="field">
        <strong>Numéro de permis :</strong>
        <span>{{ profile!.licenseNumber }}</span>
      </div>

      <div class="field" *ngIf="licenseImage">
        <strong>Permis de conduire :</strong><br />
        <img [src]="licenseImage" alt="Permis de conduire" width="200" />
      </div>
    </div>

  </ng-container>
</nz-drawer>
