<nz-spin [nzSpinning]="isSpinning">
  <nz-table #sortTable [nzData]="bookings" nzTableLayout="fixed">
    <thead>
    </thead>
    <tbody>
      @for (data of sortTable.data; track data) {
        <div style="margin-top: 10px;" class="child">
          <div nz-row style="background-color: #ccc; padding: 24px;">
            <div nz-col nzSpan="20">
              <h2 style="cursor: pointer; color: #108ee9;">Status: <b>{{data.bookCarStatus}}</b></h2>
              <h5>Reservé par: <button style="margin-left: 10px;" nz-button nzType="primary" (click)="openUser()">
                 Voir le profile
                </button>
              </h5>
              <h5>Vehicule: <b>{{data.car!.name}}</b> - Car Model: <b>{{data.car!.brand}}</b></h5>
              <h5>De: <b>{{data.fromDate | date: 'dd-MM-yyyy'}}</b> - Au: <b>{{data.toDate | date: 'dd-MM-yyyy'}}</b> - No of Days: <b>{{data.days}}</b></h5>
              <h5></h5>
              <h5>Prix Totale: <b>{{data.price}} €</b></h5>
            </div>
            <div *ngIf="data.bookCarStatus == 'PENDING'">
              <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                      (click)="changeBookingStatus(data.id, 'Approve')">
                Approve
              </button>

              <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" nzDanger
                      (click)="changeBookingStatus(data.id, 'Reject')">
                Reject
              </button>
            </div>
          </div>
        </div>
      }
    </tbody>
  </nz-table>

</nz-spin>


<nz-drawer [nzVisible]="visible" [nzWidth]="640" [nzClosable]="false" (nzOnClose)="closeUser()">
  <ng-container *nzDrawerContent>
    <p class="title">User Profile</p>
    <nz-descriptions [nzColumn]="2" nzTitle="Personal">
      <nz-descriptions-item nzTitle="Full Name" [nzSpan]="1">Lily</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Account" [nzSpan]="1">AntDesign&#64;example.com</nz-descriptions-item>
      <nz-descriptions-item nzTitle="City" [nzSpan]="1">HangZhou</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Country" [nzSpan]="1">China🇨🇳</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Birthday" [nzSpan]="1">February 2,1900</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Website" [nzSpan]="1">-</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Message" [nzSpan]="2">
        Make things as simple as possible but no simpler.
      </nz-descriptions-item>
    </nz-descriptions>
    <nz-divider></nz-divider>
    <nz-descriptions [nzColumn]="2" nzTitle="Company">
      <nz-descriptions-item nzTitle="Position" [nzSpan]="1">Programmer</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Responsibilities" [nzSpan]="1">Coding</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Department" [nzSpan]="1">AFX</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Supervisor" [nzSpan]="1">Lin</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Skills" [nzSpan]="2">
        C / C + +, data structures, software engineering, operating systems, computer networks, databases, compiler
        theory, computer architecture, Microcomputer Principle and Interface Technology, Computer English, Java,
        ASP, etc.
      </nz-descriptions-item>
    </nz-descriptions>
    <nz-divider></nz-divider>
    <nz-descriptions [nzColumn]="2" nzTitle="Contacts">
      <nz-descriptions-item nzTitle="Email" [nzSpan]="1">AntDesign&#64;example.com</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Phone Number" [nzSpan]="1">+86 181 0000 0000</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Github" [nzSpan]="2">
        <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank">github.com/NG-ZORRO/ng-zorro-antd</a>
      </nz-descriptions-item>
    </nz-descriptions>
  </ng-container>
</nz-drawer>
