<div style="background-color: #f8f8f8; min-height: 91vh; padding: 24px;">
    <div style="padding-top: 10px;"></div>
    <button nzSize="large" nz-button nzType="primary" routerLink="/admin/car/add">Add New Car</button>
    <div style="margin-top: 10px;" class="child" *ngFor="let car of cars">
        <div nz-row style="background-color: #ccc; padding: 24px;">
            <div nz-col nzSpan="8">
                <img class="profile" style="height: 130px; border-radius: 10px; object-fit: cover;" [src]="car.processedImage"
                     alt="profile">
            </div>

            <div nz-col nzSpan="16">
                <h2 style="cursor: pointer; color: #108ee9;">{{car.brand}} - {{car.name}}</h2>
                <br/>

                <p>{{car.description}}</p>

                <hr>

                <h5>Prix ParJour: <b>${{car.price}}</b> - Couleur : <b>{{car.color}}</b> - Transmission : <b>{{car.transmission}}</b> -
                    Type : <b>{{car.type}}</b> - Année : <b>{{car.year}}</b>
                </h5>
                <br/>
              <div style="float: left;">
                <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                        routerLink="/admin/car/bookings/{{car.id}}">Liste de Reservations</button>
              </div>

                <div style="float: right;">
                    <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                            routerLink="/admin/car/update/{{car.id}}">Modifier</button>
                    <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" nzGhost
                            (click)="hideShowCar(car.id)">{{car.available ? 'Afficher' : 'Cacher'}}</button>

                    <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" nzDanger
                            (click)="deleteCar(car.id)">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>
