<div class="car-detail-container" *ngIf="car">
  <div class="car-card">
    <div nz-row class="car-row">
      <div nz-col nzSpan="8">
        <img class="car-image" [src]="car.processedImage" alt="profile" />
      </div>
      <div nz-col nzSpan="16" class="car-details">
        <h2 class="car-title">{{ car.brand }} - {{ car.name }}</h2>

        <p class="car-description">{{ car.description }}</p>
        <hr />

        <div class="car-info">
          Prix Par Jour: <b>{{ car.price }} €</b>
          <span>Couleur : <b>{{ car.color }}</b></span>
          <span>Transmission : <b>{{ car.transmission }}</b></span>
          <span>Type : <b>{{ car.type }}</b></span>
          <span>Année : <b>{{ car.year }}</b></span>
        </div>
      </div>
    </div>

    <div class="booking-form">
      <form (ngSubmit)="onSubmit()">
        <input
          type="date"
          id="from_date"
          name="from_date"
          [(ngModel)]="date_from"
          placeholder="from_date"
          required
        />
        <input
          type="date"
          id="to_date"
          name="to_date"
          [(ngModel)]="date_to"
          placeholder="to_date"
          required
        />
        <button type="submit" nzSize="small" nz-button nzType="primary">
          Réserver la voiture
        </button>
      </form>
    </div>
  </div>
</div>
