<nz-spin [nzSpinning]="isSpinning">
  <nz-table #sortTable [nzData]="bookings" nzTableLayout="fixed">
    <thead></thead>
    <tbody>
      @for (data of sortTable.data; track data) {
        <div class="booking-card">
          <div nz-row class="booking-row">
            <div nz-col nzSpan="20" class="booking-details">
              <h2 class="status">Status: <b>{{ data.bookCarStatus }}</b></h2>

              <h5>
                Reservé par: <b>{{ data.user!.firstname }} {{ data.user!.lastname }}</b>
                <button nz-button nzType="primary" (click)="openUser(data.user)">Voir le profil</button>
              </h5>

              <h5>
                Véhicule: <b>{{ data.car!.name }}</b> — Modèle: <b>{{ data.car!.brand }}</b>
              </h5>

              <h5>
                De: <b>{{ data.fromDate | date: 'dd-MM-yyyy' }}</b> — Au:
                <b>{{ data.toDate | date: 'dd-MM-yyyy' }}</b> — Jours: <b>{{ data.days }}</b>
              </h5>

              <h5>Prix total: <b>{{ data.price }} €</b></h5>
            </div>

            <div nz-col nzSpan="4" class="booking-actions" *ngIf="data.bookCarStatus == 'PENDING'">
              <button nz-button nzType="primary" nzSize="small"
                      (click)="changeBookingStatus(data.id, 'Approve')">
                Accepter
              </button>
              <button nz-button nzType="default" nzDanger nzSize="small"
                      (click)="changeBookingStatus(data.id, 'Reject')">
                Rejeter
              </button>
            </div>
          </div>
        </div>
      }
    </tbody>
  </nz-table>
</nz-spin>

<nz-drawer [nzVisible]="visible" [nzWidth]="640" [nzClosable]="false" (nzOnClose)="closeUser()">
  <ng-container *nzDrawerContent>
    <p class="title">User Profile</p>
    <div class="view-profile" *ngIf="profile">
      <div class="field">
        <strong>Nom :</strong>
        <span>{{ profile!.lastname }}</span>
      </div>

      <div class="field">
        <strong>Prénom :</strong>
        <span>{{ profile!.firstname }}</span>
      </div>

      <div class="field">
        <strong>Téléphone :</strong>
        <span>{{ profile!.number }}</span>
      </div>

      <div class="field">
        <strong>Numéro de permis :</strong>
        <span>{{ profile!.licenseNumber }}</span>
      </div>

      <div class="field" *ngIf="licenseImage">
        <strong>Permis de conduire :</strong><br />
        <img [src]="licenseImage" alt="Permis de conduire" width="200" />
      </div>
    </div>
  </ng-container>
</nz-drawer>
