<nz-spin [nzSpinning]="isSpinning">
  <nz-table #sortTable [nzData]="bookings" nzTableLayout="fixed">
    <thead>
    </thead>
    <tbody>
      @for (data of sortTable.data; track data) {
        <div style="margin-top: 10px;" class="child">
          <div nz-row style="background-color: #ccc; padding: 24px;">
            <div nz-col nzSpan="20">
              <h2 style="cursor: pointer; color: #108ee9;">Status: <b>{{data.bookCarStatus}}</b></h2>
              <h5>Nom: <b>{{data.user!.firstname}} {{data.user!.lastname}}</b></h5>
              <h5>Numero de Téléphone: <b>{{data.user!.number}}</b></h5>
              <h5>Vehicule: <b>{{data.car!.name}}</b> - Car Model: <b>{{data.car!.brand}}</b></h5>
              <h5>De: <b>{{data.fromDate | date: 'dd-MM-yyyy'}}</b> - Au: <b>{{data.toDate | date: 'dd-MM-yyyy'}}</b> - No of Days: <b>{{data.days}}</b></h5>
              <h5></h5>
              <h5>Prix Totale: <b>{{data.price}} $</b></h5>
            </div>
            <div *ngIf="data.bookCarStatus == 'PENDING'">
              <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                      (click)="changeBookingStatus(data.id, 'Approve')">
                Approve
              </button>

              <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" nzDanger
                      (click)="changeBookingStatus(data.id, 'Reject')">
                Reject
              </button>
            </div>
          </div>
        </div>
      }
    </tbody>
  </nz-table>

</nz-spin>
