<div class="favorites-container">
  <h1 class="favorites-title">Ma liste de favoris</h1>

  <div class="car-card" *ngFor="let car of cars">
    <div nz-row class="car-row">
      <div nz-col nzSpan="8">
        <img class="car-image" [src]="car.processedImage" alt="profile" />
      </div>
      <div nz-col nzSpan="16" class="car-details">
        <h2 class="car-title">{{ car.brand }} - {{ car.name }}</h2>

        <p class="car-description">{{ car.description }}</p>
        <hr />

        <div class="car-info">
          Prix Par Jour: <b>{{ car.price }} €</b>
          <span>Couleur : <b>{{ car.color }}</b></span>
          <span>Transmission : <b>{{ car.transmission }}</b></span>
          <span>Type : <b>{{ car.type }}</b></span>
          <span>Année : <b>{{ car.year }}</b></span>
        </div>

        <div class="car-actions-bar" style="justify-content: flex-end; margin-top: 15px;">
          <button nz-button nzType="primary" nzSize="small" [routerLink]="'/customer/book/' + car.id">
            Réserver
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
