<div class="dashboard">
  <h1>Tableau de Bord Admin</h1>

  <div class="cards">
    <div class="card">
      <h2>Nombre de voitures</h2>
      <p>{{ stats.cars }}</p>
    </div>

    <div class="card">
      <h2>Nombre d'utilisateurs</h2>
      <p>{{ stats.users }}</p>
    </div>

    <div class="card">
      <h2>Reservations cette mois</h2>
      <p>{{ stats.bookings_this_week }}</p>
    </div>

    <div class="card">
      <h2>Demandes de reservation en attente</h2>
      <p>{{ stats.pending_bookings }}</p>
    </div>
  </div>
</div>
